body{
    background-image: url(bg2.jpg); /*Image source: https://wallpapers.com/hamilton-f1 */
    background-size: cover;
}

article{
    margin: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
}
#RaceTable{
    width: 100%;
}

.resultsButton{
    color: white;
    background-color: red;
    position: relative;
    top: 5px;
    border: none;
    padding: 15px;
}
.resultsButton:hover{
    background-color: white;
    color: black;
}

#RaceTable td{
    justify-content:right;
}